# dot files (hidden files)
.DS_STORE
.classpath
.project
org.eclipse.*.prefs

# VSCode. certain json files should not be untracked
**/.vscode/*
!.vscode/settings.json

# ignore maven build folder
target/
